<div class="sec sec-padding hero-sec" style="background-image: url('{{ page.banner | relURL }}'); ">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="banner-content">
                    <h1 class="banner-title">
                        Welcome to the Workshop on Detecting AI Generated Content at COLING 2025!
                    </h1>
                    <p style="color: white; font-size: 20px; font-weight: bold;">Abu Dhabi, UAE<br>January 19, 2025</p>

                </div>
            </div>
        </div>
    </div>
</div>
