<h2>{{ page.organizer_title }}</h2>
<div class="author">
    {% for org in page.organizer %}
    <div class="org-card">
        {% if org.thumb %}
        <div class="thumb">
            <img src="{{ org.thumb }}" alt="{{ org.name }}">
        </div>
        {% endif %}
        <div class="card-content">
            <h3 class="author-name">
                {% if org.link %}
                    <a href="{{ org.link }}">
                        {{ org.name }}
                    </a>
                {% else %}
                    {{ org.name }}
                {% endif %}
            </h3>
            <p class="author-bio">{{ org.bio }}</p>
        </div>
    </div>
    {% endfor %}
</div>