<h2>{{ page.program_title }}</h2>
<div class="author">
    {% for program in page.program %}
    <div class="org-card">
        {% if program.thumb %}
        <div class="thumb">
            <img src="{{ program.thumb }}" alt="{{ program.name }}">
        </div>
        {% endif %}
        <div class="card-content">
            <h3 class="author-name">
                {% if program.link %}
                    <a href="{{ program.link }}">
                        {{ program.name }}
                    </a>
                {% else %}
                    {{ program.name }}
                {% endif %}
            </h3>
            <p class="author-bio">{{ program.bio }}</p>
        </div>
    </div>
    {% endfor %}
</div>