/* Table of Content
====================

1. typography
2. Global styles

====================*/

// import files
@import "variable";


/* ===========================
// Typography
==============================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.55;
  color: var(--text-color);
  background-color: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1 {
  font-size: 48px;
  line-height: 60px;
}
h2 {
  font-size: 36px;
  line-height: 48px;
}
h3 {
  font-size: 30px;
  line-height: 36px;
}
h4 {
  font-size: 22px;
  line-height: 36px;
}
h5 {
  font-size: 20px;
  line-height: 30px;
}
h6 {
  font-size: 16px;
  line-height: 26px;
}
/*============================ 
// Global styles
=============================*/
html {
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  position: relative;
  text-rendering: optimizeLegibility;
}

ul,
li {
  padding: 0;
  margin: 0;
}
ul {
  padding-left: 15px;
  margin-bottom: 20px;
}
a:link,
a:visited,
a:focus {
  text-decoration: none;
  outline: 0;
}
a {
  color: var(--primary);
  @include transition();
  &:hover {
    text-decoration: none;
    color: var(--primary);
  }
}
strong {
  font-weight: 700;
}
img {
  height: auto;
  max-width: 100%;
}
input,
textarea,
select,
:focus {
  outline: 0;
  box-shadow: 0;
}

hr {
  opacity: 1;
  height: 1px;
  border: none;
}

.gap {
  height: 30px;
  display: block;
}
.gap-2x {
  height: 60px;
  display: block;
}
.gap-3x {
  height: 90px;
  display: block;
}
.gap-4x {
  height: 120px;
  display: block;
}

.fw-500 {
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.fw-400 {
  font-weight: 400;
}
.bg-primary-light{ 
  background: $bg-lighten;
}

.layer {
  position: relative !important;
}

.sec.section-padding {
  padding: 80px 0;
}

/*=======================
// back-to-top
========================*/

#back-to-top {
  width: 40px;
  height: 40px;
  right: 15px;
  bottom: 30px;
  z-index: 999;
  display: none;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  position: fixed;
  line-height: 42px;
  text-align: center;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  &:hover {
    color: $white-color;
    transform: translateY(-5px);
    background-color: var(--primary);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  }
}


/*=========================
// prelaoder
=========================*/

#loading {
  background-color: var(--primary);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  margin-top: 0px;
  top: 0px;
}

#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
}

#object {
  width: 80px;
  height: 80px;
  background-color: #fff;
  -webkit-animation: animate 1s infinite ease-in-out;
  animation: animate 1s infinite ease-in-out;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  @media (max-width: 991px) {
    width: 60px;
    height: 60px;
  }
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: perspective(160px);
  }

  50% {
    -webkit-transform: perspective(160px) rotateY(-180deg);
  }

  100% {
    -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg);
  }
}

@keyframes animate {
  0% {
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
  }

  100% {
    transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
  }
}
.container {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

/* overlay */
.overlay {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.gap {
  height: 30px;
  display: block;
  clear: both;
}
/* ===============
/ Error Page 
==================*/

.error-page{
  h2{
    font-size: 100px;
    font-weight: 800;
    line-height: 0.8;
    margin-bottom: 20px;
  }
  h3{
    margin-bottom: 20px;
  }
}
@media (min-width: 992px){
  .error-page{
    h2{
      font-size: 200px;
    }
  }
}

.highlight{
  background: $bg-3;
  display: inline-block;
  line-height: .8;
}


// quote 
blockquote {
  background: #F6F6F6;
  padding: 25px 40px;
  border-left: 1px solid var(--primary);
  .icon {
    max-width: 46px;
    margin-bottom: 20px;
  }
  span {
    display: block;
    color: #161851;
    font-size: 20px;
    line-height: 28px;
  }
}
