.hero-sec {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 100px 0;
}
.banner-content {
    .banner-title {
        font-size: 38px;
        line-height: 1.3;
        color: #fff;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 2px 2px 4px black;
    }
}

.content h2,
.content h3 {
    font-size: 25px;
    line-height: 1.3;
    border-bottom: 1px solid #cecfd1;
    margin: 20px 0;
    padding-bottom: 10px;
}

.org-card {
    display: flex;
    margin-bottom: 20px;
    @media (min-width: 575px) {
        align-items: center;
    }
    .thumb {
        max-width: 100%;
        margin-right: 15px;
        img {
            max-width: 110px;
            border-radius: 50%;
            padding: 5px;
            border: 1px solid #cecfd1;        
        }
    }
    .author-name {
        font-size: 20px;
        margin: 0;
        font-weight: 700;
        border: none;
        a {
            color: inherit;
        }
    }
    .author-bio {
        font-size: 20px;
    }
}