---
layout: default
---
<div class="sec section-padding content-sec">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="layout-content">
                    <div class="content">{{content}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
