<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="{{ '/assets/images/favicon.ico' | relative_url }}">
  <link href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">

  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% endif %}
  <meta property="og:title" content="{{ site.seo.meta_og_title }}" />
  <meta property="og:type" content="{{ site.seo.meta_og_type }}" />
  <meta property="og:url" content="{{ site.seo.meta_og_url }}" />
  <meta property="og:image" content="{{ site.seo.meta_og_image }}" />
  <meta property="og:description" content="{{ site.seo.meta_og_description }}" />
  <meta name="twitter:card" content="{{ site.seo.meta_twitter_card }}" />
  <meta name="twitter:site" content="{{ site.seo.meta_twitter_site }}" />
  <meta name="twitter:creator" content="{{ site.seo.meta_twitter_creator }}" />


</head>
<body class='page {{page.bodyClass}}'>
   <!-- start preloader -->
   <!-- <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
            <div id="object"></div>
        </div>
      </div>
  </div> -->
  <!-- end preloader -->

  <div id="wrapper" class="wrapper">
    {% include header.html headerClass='header-extra' %}
    {{content}}
  </div>
  {% include footer.html %}
  <script type="text/javascript" src="{{ '/assets/js/jquery.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/jquery.contentify.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/essential.js' | relative_url }}"></script>
  {% include google-analytics.html %}

  <style>
  /* Style for devices with width less than 600px */
  @media (max-width: 600px) {
    .responsive-image {
      width: 100%;
      height: auto;
      border-radius: 50%;
  overflow: hidden; /* This ensures the content does not flow outside the border-radius */
  /* width: 100px; /* Adjust based on your preference */ */
  /* height: 100px; /* Make sure this is equal to the width for a perfect circle */ */
  display: inline-block; /* This helps with the alignment and ensures the dimensions are respected */
  object-fit: cover; /* This ensures the image covers the area without distorting its aspect ratio */
    }
  }

  /* Style for devices with width between 600px and 1200px */
  @media (min-width: 601px) and (max-width: 1200px) {
    .responsive-image {
      width: 50%;
      height: auto;
      border-radius: 50%;
        overflow: hidden; /* This ensures the content does not flow outside the border-radius */
        /* width: 100px; /* Adjust based on your preference */ */
        /* height: 100px; /* Make sure this is equal to the width for a perfect circle */ */
        display: inline-block; /* This helps with the alignment and ensures the dimensions are respected */
        object-fit: cover; /* This ensures the image covers the area without distorting its aspect ratio */
    }
  }

  /* Style for devices with width more than 1200px */
  @media (min-width: 1201px) {
    .responsive-image {
      width: 25%;
      height: auto;
      border-radius: 50%;
        overflow: hidden; /* This ensures the content does not flow outside the border-radius */
        /* width: 100px; /* Adjust based on your preference */ */
        /* height: 100px; /* Make sure this is equal to the width for a perfect circle */ */
        display: inline-block; /* This helps with the alignment and ensures the dimensions are respected */
        object-fit: cover; /* This ensures the image covers the area without distorting its aspect ratio */
    }
  }

  </style>  
</body>
</html>
